.answer-container {
    width: 100%;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    
}

.answer-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(56, 56, 63, 1);
}

.answer-number {
    background-color: #e10600;
    padding: 1.5rem 2.5rem;
    width: 6rem;
}

.answer-text {
    padding: 1.5rem;
    color: #fff;
    background-color: #38383f;
    width: 100%;
}

.correct {
    background-color: ForestGreen;
}

.incorrect {
    background-color: DarkRed;
}

#progres {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 2.5rem;
    margin-bottom: 4rem;
}

.counter-value, .score-value {
    text-align: center;
}